#page-create-orphanage {
  display: flex;
}

#page-create-orphanage main {
  flex: 1;
}

#page-create-orphanage form {
  width: 700px;
  margin: 64px auto;
  background: #FFFFFF;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  overflow: hidden;
}

div.create-orphanage-form {
  padding: 64px 80px;
}

div.create-orphanage-form .leaflet-container {
  margin-bottom: 40px;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
}

div.create-orphanage-form fieldset {
  border: 0;
}

div.create-orphanage-form fieldset+fieldset {
  margin-top: 80px;
}

div.create-orphanage-form fieldset legend {
  width: 100%;
  font-size: 32px;
  line-height: 34px;
  color: #5C8599;
  font-weight: 700;
  border-bottom: 1px solid #D3E2E5;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

div.create-orphanage-form .input-block+.input-block {
  margin-top: 24px;
}

div.create-orphanage-form .input-block label {
  display: flex;
  color: #8FA7B3;
  margin-bottom: 8px;
  line-height: 24px;
}

div.create-orphanage-form .input-block label span {
  font-size: 14px;
  color: #8FA7B3;
  margin-left: 24px;
  line-height: 24px;
}

div.create-orphanage-form .input-block input, div.create-orphanage-form .input-block textarea {
  width: 100%;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  color: #5C8599;
}

div.create-orphanage-form .input-block input {
  height: 64px;
  padding: 0 16px;
}

div.create-orphanage-form .input-block textarea {
  min-height: 120px;
  max-height: 240px;
  resize: vertical;
  padding: 16px;
  line-height: 28px;
}

div.create-orphanage-form .input-block .images-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
}

div.create-orphanage-form .input-block .images-container .image-item {
  position: relative;
}

div.create-orphanage-form .input-block .images-container .image-item button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  border: 1px solid #D3E2E5;
  box-sizing: border-box;
  border-radius: 0px 20px;
  background: #FFFFFF;
  color: #FF669D;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

div.create-orphanage-form .input-block .images-container img {
  width: 100%;
  height: 96px;
  object-fit: cover;
  border-radius: 20px;
}

div.create-orphanage-form .input-block input[type=file] {
  display: none;
}

div.create-orphanage-form .input-block .images-container .new-image {
  height: 96px;
  background: #F5F8FA;
  border: 1px dashed #96D2F0;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.create-orphanage-form .input-block .button-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.create-orphanage-form .input-block .button-select button {
  height: 64px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  color: #5C8599;
  cursor: pointer;
}

div.create-orphanage-form .input-block .button-select button.active {
  background: #EDFFF6;
  border: 1px solid #A1E9C5;
  color: #37C77F;
}

div.create-orphanage-form .input-block .button-select button.active.not {
  background: #FCF0F4;
  border: 1px solid #FFBCD4;
  color: #FF669D;
}

div.create-orphanage-form .input-block .button-select button:first-child {
  border-radius: 20px 0px 0px 20px;
}

div.create-orphanage-form .input-block .button-select button:last-child {
  border-radius: 0 20px 20px 0;
  border-left: 0;
}

div.create-orphanage-form button.confirm-button {
  margin-top: 64px;
  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #3CDC8C;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

div.create-orphanage-form button.confirm-button svg {
  margin-right: 16px;
}

div.create-orphanage-form button.confirm-button:hover {
  background: #36CF82;
}

div .confirmation-button-group {
  background: #F5F8FA;
  border-top: 1px solid #D3E2E5;
  border-radius: 0 0 17px 17px;
  width: 100%;
  margin: 0 auto;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

div .confirmation-button-group button {
  border: none;
  color: #FFF;
  width: 264px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: 800;
  cursor: pointer;
}

div .confirmation-button-group button+button {
  margin-left: 20px;
}

div .confirmation-button-group button svg {
  stroke-width: 4;
  margin-right: .5em;
}

button.deny:hover {
  background: #FF669D;
}

button.deny {
  background: #ff4d8e;
}

button.accept {
  background: #36CF82;
}

button.accept:hover {
  background: #3CDC8C;
}