#page-forget-password {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#page-forget-password .background-container {
  width: calc(100% - 520px);
}

#page-forget-password .background-container .background {
  position: relative;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#page-forget-password .background .location {
  position: absolute;
  left: calc(50% - 50px);
  width: 100px;
  bottom: 0;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#page-forget-password .sign-in {
  position: absolute;
  background: #FFFFFF;
  height: 100vh;
  width: 520px;
  right: 0;
  padding: 40px 43px;
}

#page-forget-password .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

#page-login .form-container form{
  width: 100%;
}

#page-forget-password .sign-in>a {
  background: #EBF2F5;
  border-radius: 16px;
  width: 48px;
  height: 48px;
  text-align: right;
  display: block;
  color: #15C3D6;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

#page-forget-password .sign-in>a:hover {
  background: #15C3D6;
  color: #EBF2F5;
}

#page-forget-password .sign-in form {
  margin: 3vh 37px;
}

#page-forget-password .sign-in form h2 {
  margin: 4vh 0;
  color: #5C8599;
  font-size: 32px;
  line-height: 34px;
}

#page-forget-password .sign-in form p {
  color: #8FA7B2;
  padding-right: 2em;
  margin-bottom: 4vh;
}

#page-forget-password .sign-in form label {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #8FA7B3;
  display: flex;
  flex-direction: column;
}

#page-forget-password .sign-in form label span {
  margin-bottom: 2vh;
}

#page-forget-password .sign-in form label input {
  border-radius: 20px;
  font-weight: 600;
  color: #5C8599;
  padding: 21px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  box-sizing: border-box;
  border-radius: 20px;
}

#page-forget-password .sign-in form label+button {
  margin-top: 20px;
}

#page-forget-password .remember-container {
  display: flex;
  color: #8FA7B2;
  cursor: pointer;
  background: none;
  border: none;
}

#page-forget-password .remember-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

#page-forget-password .remember-block a {
  text-decoration: none;
  color: #8FA7B2;
}

#page-forget-password .remember-block a:hover {
  text-decoration: none;
  color: #8096a0;
}

#page-forget-password .check-remember {
  color: #8FA7B2;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

#page-forget-password .check-remember.green {
  background-color: #37C77F;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-forget-password .button {
  width: 100%;
  height: 64px;
  background-color: #37C77F;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;
  transition: all .2s;
  cursor: pointer;
  opacity: .5;
}

#page-forget-password .button.active {
  opacity: 1;
}

#page-forget-password .button.active:hover {
  background-color: #27a365;
}